# Python
__pycache__/
*.pyc
*.pyo
*dist-info/

# vim temp files
*~
*.swp
*.swo

# CloudFormation template
.packaged.yaml

# VSCode
.vscode/

lambdas/model_scoring_logic.py
lambdas/__model_scoring_logic.py
lambdas/easy_install.py
tests/extract.py